<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.opclound.easytour">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/timg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/timg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="studio.opencloud.easytour21.mainspace.MainActivity" />
        <activity android:name="studio.opencloud.easytour21.users.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="studio.opencloud.easytour21.users.Register" />
        <activity android:name="studio.opencloud.easytour21.users.Verification" />
        <activity android:name="studio.opencloud.easytour21.clip.AcClipImg" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="studio.opencloud.easytour21.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="studio.opencloud.easytour21.users.CheckMyCollection" />
        <activity android:name="studio.opencloud.easytour21.users.ToBeGuide" />
        <activity android:name="studio.opencloud.easytour21.orders.SendOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.OrderInformation" />
        <activity android:name="studio.opencloud.easytour21.orders.TakeOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.Evaluate" />
        <activity android:name="studio.opencloud.easytour21.chat.ContactList" />
        <activity android:name="studio.opencloud.easytour21.chat.ChatWindow" />
        <activity android:name="studio.opencloud.easytour21.blogs.SendBlog" />
        <activity android:name="studio.opencloud.easytour21.blogs.ReadBlog" />
        <activity android:name="studio.opencloud.easytour21.orders.OrderList" />
        <activity android:name="studio.opencloud.easytour21.users.UserInformation" />
        <activity android:name="studio.opencloud.easytour21.users.ChangePassWord" />
        <activity android:name="studio.opencloud.easytour21.orders.UserIdleOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.UserAcceptedOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.UserBeginOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.UserFinishedOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.GuideIdleOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.GuideAcceptedOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.GuideBeginOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.GuideFinishedOrder" />
        <activity android:name="studio.opencloud.easytour21.orders.GuideDetails"></activity>
    </application>

</manifest>